:root {
  --score-color: rgb(168, 254, 156);
  --foul-color: #f88533;
  --start-color: #33f8b0;
  --blur-bg: rgba(0, 0, 0, 0.28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/pexels-chrisgrantharvey-33669419.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(3px);
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

.title {
  text-align: center;
  color: white;
  padding: 1rem;
  background-image: linear-gradient(
    to bottom,
    rgb(83, 84, 84),
    rgba(1, 1, 1, 0.139)
  );
  backdrop-filter: blur(10px);
}

.score-container {
  background: #00000084;
  backdrop-filter: blur(15px);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin-top: 20vh;
  flex-wrap: wrap;
}

.team {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.score-add,
.score-minus,
.start {
  background-color: var(--blur-bg);
  border: none;
  border-radius: 20px;
  transition: transform 0.2s;
  cursor: pointer;
  margin: 10px;
}

.score-add {
  color: var(--score-color);
  width: 50px;
  height: 30px;
  box-shadow: 0 0 10px green;
}

.score-minus {
  color: var(--foul-color);
  width: 70px;
  height: 40px;
  box-shadow: 0 0 15px var(--foul-color);
}

.start {
  color: var(--start-color);
  width: 150px;
  height: 50px;
  box-shadow: 0 0 15px var(--start-color);
}

.score-add:hover,
.score-minus:hover,
.start:hover {
  transform: scale(1.2);
}

.timer {
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-size: 5vw;
  text-align: center;
}
#pause {
  background-color: rgba(255, 255, 0, 0.2); /* soft yellow */
  box-shadow: 0 0 15px yellow;
}

#reset {
  background-color: rgba(255, 0, 0, 0.2); /* soft red */
  box-shadow: 0 0 15px red;
}

.score {
  font-size: 80px;
  margin: 1rem 0;
}

.center-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
