* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/pexels-chrisgrantharvey-33669419.jpg);
  background-position: center;
  backdrop-filter: blur(3px);
  height: 100vh;
}
center {
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgb(83, 84, 84),
    rgba(1, 1, 1, 0.139)
  );
  backdrop-filter: blur(10px);
}
.score-container {
  background: #00000084;
  backdrop-filter: blur(15px);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin-top: 20vh;
}
.team {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.score-add {
  background-color: rgba(0, 0, 0, 0.28);;
  color: rgb(168, 254, 156);
  margin: 20px;
  width: 50px;
  height: 30px;
  border: 0px;
  box-shadow: 0 0 10px green;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.score-add:hover {
  transform: scale(1.2);
}
.score-minus {
  background-color: rgba(0, 0, 0, 0.28);;
  color: #f88533;
  width: 70px;
  height: 40px;
  border: 0px;
  box-shadow: 0 0 15px #f88533;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.score-minus:hover {
  transform: scale(1.2);
}
.start {
  background-color: rgba(0, 0, 0, 0.28);
  color: #33f8b0;
  width: 150px;
  height: 50px;
  border: 0px;
  box-shadow: 0 0 15px #33f8b0;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.start:hover {
  transform: scale(1.2);
}

.timer{
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-size: 5vw;
}
.score{
  margin-left: 10vw;
  font-size: 80px;
}
